<div class="container">

  <div class="textarea-container">
    <textarea [(ngModel)]="program.code" rows="24" cols="60" placeholder="Type here..."
      class="non-resizable"></textarea>
  </div>

  <div class="button-container">
    <button class="btn btn-success custom-button" (click)="submitProgram()">
      <i class="bi bi-play"></i> Run
    </button>
    <button class="btn btn-info custom-button" [disabled]="report.diagnostics.length === 0" (click)="openDialog()">
      <i class="bi bi-info-circle"></i> Info
    </button>

    <select id="exampleSelect" class="form-select" (change)="onSelectChange($event)">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>


  <div class="display-container">
    <div *ngIf="errors.length === 0 && report.symbol_table.length > 0">
      <span class="label-green">Successfully compiled in {{ report.seconds }} seconds</span>
      <p>Results:</p>
      <ul>
        <li *ngFor="let pair of report.symbol_table">
          {{ pair.id }} - {{ pair.value }}
        </li>
      </ul>
    </div>
    <div *ngIf="errors.length > 0 || server_error">
      <span class="label-red">Something went wrong</span>
      <div *ngIf="errors.length > 0">
        <p>Errors:</p>
        <ul>
          <li *ngFor="let diagnostic of errors">
            {{ diagnostic.kind }} - {{ diagnostic.place }} - {{ diagnostic.message }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>